POSTGRES_URL=postgresql+psycopg2://alpha:secret@localhost:5432/alpha_db

KAFKA_SCHEMA_REGISTRY=http://localhost:8082/
KAFKA_CLICKSTREAM_TOPIC=clickstream
KAFKA_ORDERS_TOPIC=orders
KAFKA_BOOTSTRAP_SERVERS=localhost:29092,localhost:29093